h1{
    color: red;
}
body{
    margin:0%;
}
notread{
    background-color: cornflowerblue;
}
time{
    float: left;
    margin-right: 25px;
}
li{
    font-size: 30px;

}
a{
    text-decoration: none;
    color:black;
}
